html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

.container {
  @include outer-container(88rem);
}

.transition-wrapper {
  padding-top: 12rem;
  position: relative;
}

// ensures the transitions work
.project,
.project-cards {
  position: absolute;
  width: 100%;
}
