.btn {
  border: .3rem solid $pelorous;
  color: $pelorous;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size-base-plus;
  font-weight: $weight-m;
  letter-spacing: .1rem;
  overflow: hidden;
  padding: .5rem 3rem;
  position: relative;
  text-transform: uppercase;

  &::after {
    background: $pelorous;
    bottom: 0;
    content: '';
    height: 150%;
    left: -10%;
    position: absolute;
    transform: skewX(15deg);
    transition: .3s all ease-in-out;
    width: 0;
    z-index: -1;
  }

  &:hover {
    color: $white;
    text-decoration: none;

    &::after {
      left: -10%;
      width: 120%;
    }
  }
}

p {
  .btn {
    margin-top: 1.5rem;
    padding-bottom: .8rem;
    padding-top: .8rem;
  }
}
