.btn {
  border: .3rem solid $pelorous;
  color: $pelorous;
  display: inline-block;
  font-size: $font-size-base-plus;
  font-weight: $weight-m;
  letter-spacing: .1rem;
  padding: 1rem 3rem .5rem;
  text-decoration: none;
  text-transform: uppercase;
}
