html {
  font-size: 62.5%;
}

body {
  color: $pale-sky;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $font-size-base-plus;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

.container {
  @include outer-container(88rem);
}

.transition-wrapper {
  padding-top: 12rem;
  position: relative;
}

// ensures the transitions work
.page-content {
  padding: 0 1.5rem;
  position: absolute;
  width: 100%;

  @include media($tablet) {
    padding: 0;
  }
}
