html {
  font-size: 62.5%;
}

body {
  color: $nevada;
  font-family: 'Muli', sans-serif;
  font-size: $font-size-base;
  line-height: 2.6rem;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

.container {
  @include outer-container(88rem);
  padding: 0 1.5rem;

  @include media($desktop) {
    padding: 0;
  }
}

.transition-wrapper {
  padding-top: 12rem;
  position: relative;
}

// ensures the transitions work
.page-content {
  position: absolute;
  width: 100%;

  @include media($tablet) {
    padding: 0;
  }
}
