h1,
h2,
h3 {
  color: $nevada;
  font-weight: $weight-m;
}

h2 {
  font-size: $font-size-m;
  margin-top: 4.5rem;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}
