// Devices dimensions
$small-size: 32rem;
$medium-size: 72rem;
$large-size: 96rem;

// Breakpoints
$small: new-breakpoint(min-width $small-size 4);
$medium: new-breakpoint(min-width $medium-size 8);
$large: new-breakpoint(min-width $large-size 12);

// Colors
$white: #fff;
$alabaster: #fafafa;
$athens-gray: #eaedf1;
$heather: #bbc3ce;
$pale-sky: #6a7986;
$nevada: #666;
$shark: #282c2f;
$pelorous: #3eafc1;

// Sizes
$font-size-base-minus: 1.3rem;
$font-size-base: 1.5rem;
$font-size-base-plus: 1.6rem;
$font-size-m: 2rem;
$font-size-l: 3.5rem;
$font-size-xl: 5rem;

// Weights
$weight-s: 300;
$weight-m: 400;
