.project-cards {
  margin-top: 5rem;
}

.project-card {
  display: block;
  margin-bottom: 6rem;
  max-height: 50rem;
  overflow: hidden;
  position: relative;

  @include media($tablet) {
    &:hover {
      .project-card__overlay-background {
        opacity: .4;
      }

      .project-card__overlay-line {
        width: 6%;
      }

      .project-card__overlay-text {
        opacity: 1;
        transform: translate(1rem, 0);
      }

      .project-card__image {
        transform: scale(1.05);
        transition: transform 3s linear; // transition in
      }
    }
  }
}

.project-card__overlay-background {
  background: $shark;
  height: 5.5rem;
  opacity: .4;
  position: absolute;
  top: 0;
  width: 100%;

  @include media($mobile) {
    height: 12rem;
  }

  @include media($tablet) {
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    transition: opacity .3s ease-in;
    z-index: 1;
  }
}

.project-card__overlay-line {
  border-top: .1rem solid $white;
  left: 3%;
  margin-left: 1rem;
  position: absolute;
  top: 16%;
  transition: width .2s ease-out;
  width: 0;
  z-index: 1;
}

.project-card__overlay-content {
  color: $white;
  left: 3%;
  position: absolute;
  z-index: 1;

  @include media($tablet) {
    top: 17%;
  }
}

.project-card__overlay-text {
  opacity: 1;
}

.project-card__overlay-background,
.project-card__overlay-text {
  @include media($tablet) {
    opacity: 0;
  }
}

.project-card__image {
  transition: transform .3s linear; // transition out
  width: 100%;
}

.project-card__skillset,
.project-card__description {
  font-size: $font-size-base;
}

.project-card__skillset,
.project-card__description {
  display: none;

  @include media($mobile) {
    display: block;
  }
}

.project-card__overlay-line {
  display: none;

  @include media($tablet) {
    display: block;
  }
}

.project-card__skillset,
.project-card__description,
.project-card__name {
  transition: transform .3s ease-out, opacity .3s ease-out;
}

.project-card__description {
  transition-delay: .1s;
}

.project-card__name {
  color: $white;
  margin-top: 1.5rem;
  transition-delay: .2s;

  @include media($mobile) {
    font-size: $font-size-l;
  }

  @include media($tablet) {
    font-size: $font-size-xl;
    line-height: $font-size-xl;
  }
}
