.project-cards {
  margin-top: 5rem;
}

.project-card {
  display: block;
  margin-bottom: 6rem;
  max-height: 50rem;
  overflow: hidden;
  position: relative;

  @include media($medium) {
    &:hover {
      .project-card__overlay-background {
        opacity: .4;
      }

      .project-card__overlay-line {
        width: 6%;
      }

      .project-card__overlay-text {
        opacity: 1;
        transform: translate(1rem, 0);
      }

      .project-card__image {
        transform: scale(1.05);
        transition: transform 3s linear; // transition in
      }
    }
  }

  &__overlay-background {
    background: $shark;
    height: 4.5rem;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;

    @include media($small) {
      height: 15rem;
    }

    @include media($medium) {
      bottom: 0;
      height: 100%;
      left: 0;
      right: 0;
      transition: opacity .3s ease-in;
      z-index: 1;
    }
  }

  &__overlay-line {
    border-top: .1rem solid $white;
    display: none;
    left: 3%;
    margin-left: 1rem;
    position: absolute;
    top: 16%;
    transition: width .2s ease-out;
    width: 0;
    z-index: 1;

    @include media($medium) {
      display: block;
    }
  }

  &__overlay-content {
    color: $white;
    left: 3%;
    position: absolute;
    z-index: 1;

    @include media($small) {
      top: 3rem;
    }

    @include media($medium) {
      top: 18%;
    }
  }

  &__overlay-text {
    opacity: 1;
  }

  &__overlay-background,
  &__overlay-text {
    @include media($medium) {
      opacity: 0;
    }
  }

  &__image {
    transition: transform .3s linear; // transition out
    width: 100%;
  }

  &__skillset,
  &__description {
    display: none;
    font-size: $font-size-base;

    @include media($small) {
      display: block;
    }
  }

  &__skillset,
  &__description,
  &__name {
    transition: transform .3s ease-out, opacity .3s ease-out;
  }

  &__description {
    transition-delay: .1s;
  }

  &__name {
    color: $white;
    font-weight: $weight-s;
    margin-top: 1rem;
    transition-delay: .2s;

    @include media($small) {
      font-size: $font-size-l;
      font-weight: $weight-m;
    }

    @include media($medium) {
      font-size: $font-size-xl;
      line-height: $font-size-xl;
    }
  }
}
