.project-cards {
  margin-top: 3rem;
}

.project-card {
  display: block;
  margin-bottom: 3rem;

  &:hover {
    .project-card__name {
      display: block;
    }
  }
}

.project-card__name {
  display: none;
  position: absolute;
}

.project-card__image {
  width: 100%;
}
