.slick-slide {
  figcaption {
    background: rgba($shark, .6);
    color: $white;
    display: inline-block;
    height: 3rem;
    line-height: 3.6rem;
    margin: 1.5rem 0 0 1.5rem;
    padding: 0 1rem;
    position: absolute;
  }
}
