.tags,
.tag {
  float: left;
}

.tags {
  margin: 3rem 3rem 3rem 0;
  text-transform: uppercase;
}

.tag__category {
  color: $heather;
  font-size: 1.2rem;
  font-weight: $weight-m;
}

.tag {
  background: $athens-gray;
  border-radius: .5rem;
  color: $nevada;
  font-size: $font-size-base-minus;
  font-weight: $weight-s;
  margin-right: .8rem;
  padding: .1rem 1.2rem;
}
