.footer__social-networks {
  list-style-type: none;
}

.social-network {
  display: inline;
}

.social-network__link {
  background: $pelorous;
  border-radius: 1.5rem;
  display: inline-block;
  height: 3rem;
  margin-left: 1rem;
  padding-top: .6rem;
  width: 3rem;

  svg {
    fill: $white;
    height: 1.7rem;
    width: 1.7rem;
  }
}
