.footer {
  margin: 8rem 0 3rem;
}

.footer__social-networks {
  list-style-type: none;
}

.social-network {
  display: inline;
}

.social-network__link {
  background: $pelorous;
  border-radius: 1.5rem;
  display: inline-block;
  height: 3rem;
  margin-left: 1rem;
  padding-top: .6rem;
  transition: box-shadow .2s cubic-bezier(.2, 0, .7, 1);
  width: 3rem;

  &:hover {
    box-shadow: 0 0 .1rem .5rem rgba($pelorous, .4);
  }

  svg {
    fill: $white;
    height: 1.7rem;
    width: 1.7rem;
  }
}

.footer__credits {
  color: $heather;
}
