.header {
  background: $white;
  border-bottom: .1rem solid $athens-gray;
  opacity: .95;
  padding: 2rem 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header__link {
  text-decoration: none;
}
